---
Language: Cpp
AccessModifierOffset: -4
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
BinPackParameters: false
BreakBeforeTernaryOperators: false
ColumnLimit: 0
IndentWidth: '4'
PointerAlignment: Right
SortIncludes: true
SpaceAfterCStyleCast: true
TabWidth: '4'
UseTab: Always
...
